{% extends 'base.html.twig' %}

{% block body %}
<h1>GroBlog</h1>

<div class="card-columns"  display="grid">
{% for article in articles %}
  <div class="card mb-3">
    <h3 class="card-header">{{ article.title }}</h3>
    <img class="card-img-top" src="{{ article.image }}">
    <div class="card-body">
      <a href="{{ path('blog_show', {'id' : article.id }) }}" class="card-link">Read more</a>
    </div>
    <div class="card-footer text-muted">
      {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }}
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}
